<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>603991696887-uf1trojrlkb1jo50itgeqetfrtjl7amk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.603991696887-uf1trojrlkb1jo50itgeqetfrtjl7amk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>603991696887-1krgidvr5v6t9fomp8nfsv0bopqvd9ed.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDugm86jvBzgGksQnO6TFnO9lCgDlmj0zM</string>
	<key>GCM_SENDER_ID</key>
	<string>603991696887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.slideshowmedia.wildpulsenews</string>
	<key>PROJECT_ID</key>
	<string>wildpulse-cd30a</string>
	<key>STORAGE_BUCKET</key>
	<string>wildpulse-cd30a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603991696887:ios:acc77e07ee0cf4dd1abaf2</string>
</dict>
</plist>